## Importing the modules

In [1]:
import pandas as pd
import requests
from google.colab import drive
drive.mount('/content/drive')
import numpy as np
import pandas as pd
import glob
import os
from pyproj import Transformer
import time
from scipy.spatial import cKDTree

Mounted at /content/drive

## Reading the Property sale data 2023

In [2]:
csv_file = "/content/drive/MyDrive/data science project/pp-2023.csv"
land_registry_df = pd.read_csv(csv_file, header=None)
print(land_registry_df.shape)

(812766, 16)

 ##### Link to the header file https://www.gov.uk/guidance/about-the-price-paid-data

In [102]:
land_registry_df.columns = ['Transaction unique identifier','Price','Date of Transfer',
                            'Postcode','PropertyType','Old/New','Duration','PAON','SAON',
                            'Street','Locality','Town/city','District','County','PPD Category Type','Record Status-monthly file only']

## Reading the Stops data

In [103]:
csv_file = "/content/drive/MyDrive/data science project/Stops.csv"
Stops = pd.read_csv(csv_file)
print(Stops.shape)

<ipython-input-103-ee71dce86309>:2: DtypeWarning: Columns (1,2,6,8,21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  Stops = pd.read_csv(csv_file)

(435436, 43)

In [104]:
Stops[:5].columns

Index(['ATCOCode', 'NaptanCode', 'PlateCode', 'CleardownCode', 'CommonName',
       'CommonNameLang', 'ShortCommonName', 'ShortCommonNameLang', 'Landmark',
       'LandmarkLang', 'Street', 'StreetLang', 'Crossing', 'CrossingLang',
       'Indicator', 'IndicatorLang', 'Bearing', 'NptgLocalityCode',
       'LocalityName', 'ParentLocalityName', 'GrandParentLocalityName', 'Town',
       'TownLang', 'Suburb', 'SuburbLang', 'LocalityCentre', 'GridType',
       'Easting', 'Northing', 'Longitude', 'Latitude', 'StopType',
       'BusStopType', 'TimingStatus', 'DefaultWaitTime', 'Notes', 'NotesLang',
       'AdministrativeAreaCode', 'CreationDateTime', 'ModificationDateTime',
       'RevisionNumber', 'Modification', 'Status'],
      dtype='object')

## Reading the School data

In [106]:
csv_file2 = "/content/drive/MyDrive/data science project/2023-2024_england_school_information.csv"
schools = pd.read_csv(csv_file2)
schools.shape

(25489, 26)

## Data preprocessing

### Data type conversion

In [107]:
for col in ['Easting','Northing','Longitude','Latitude']:
    Stops[col] = pd.to_numeric(Stops[col], errors='coerce')

print(Stops[['CommonName','Longitude','Latitude']])

                               CommonName  Longitude   Latitude
0                        Temple Meads Stn  -2.582620  51.448980
1                        Temple Meads Stn  -2.581770  51.449440
2                        Temple Meads Stn  -2.585790  51.449020
3                        Temple Meads Stn  -2.585600  51.450140
4                        Temple Meads Stn  -2.584890  51.449670
...                                   ...        ...        ...
435431    Talbot Road (Blackpool Tramway)  -3.054507  53.819144
435432    Talbot Road (Blackpool Tramway)  -3.054537  53.819135
435433  North Station (Blackpool Tramway)  -3.050058  53.821035
435434  North Station (Blackpool Tramway)  -3.050088  53.821034
435435  North Station (Blackpool Tramway)  -3.050027  53.821035

[435436 rows x 3 columns]

In [108]:
land_registry_df["Price"] = pd.to_numeric(land_registry_df["Price"], errors="coerce")

print(land_registry_df[['Postcode','Price','Town/city','District','County']])

        Postcode   Price      Town/city       District          County
0       CF14 7BX  330000        CARDIFF        CARDIFF         CARDIFF
1       LL28 4SH  269950     COLWYN BAY          CONWY           CONWY
2       LL31 9BN  280000          CONWY          CONWY           CONWY
3       SA62 6BA  699999  HAVERFORDWEST  PEMBROKESHIRE   PEMBROKESHIRE
4       SY16 1QY  160000        NEWTOWN          POWYS           POWYS
...          ...     ...            ...            ...             ...
812761  LS12 4FJ  235000          LEEDS          LEEDS  WEST YORKSHIRE
812762   LS4 2EJ  229995          LEEDS          LEEDS  WEST YORKSHIRE
812763   WF7 5QE  253995     PONTEFRACT      WAKEFIELD  WEST YORKSHIRE
812764  LS12 4FL  270000          LEEDS          LEEDS  WEST YORKSHIRE
812765  LS25 4EP  279995          LEEDS          LEEDS  WEST YORKSHIRE

[812766 rows x 5 columns]

### Postcodes to latitude & Longitude conversion

#### link https://osdatahub.os.uk/downloads/open/CodePointOpen

In [109]:
folder_path = "/content/drive/MyDrive/data science project/CSV/"
csv_files = glob.glob(os.path.join(folder_path, "*.csv"))

df_list = []
for file in csv_files:
    temp_df = pd.read_csv(file)
    df_list.append(temp_df)


d=[]
for i in df_list[:-1]:
  d.append(i.values)
master_columns = ['Postcode','Positional_quality_indicator','Eastings','Northings','Countrycode','NHS_reg_HA_code','NHS_code','Admin_county',
                  'Admin_dist','Admin_ward']
combined_data = np.concatenate(d, axis=0)
df_combined = pd.DataFrame(combined_data,columns = master_columns )

<ipython-input-109-4ed9e8c58db8>:6: DtypeWarning: Columns (0,4,5,6,7,8,9,10,13,14,15,16,17,20,21,22,25,26,27,30,31,32,33,36,37,38,41,42,43,46,47,48,49,52,53,54,55,56,59,61,62,63,64,67,68,69,72,73) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file)

In [123]:
df_list[1]

,BR1 1AA,10,540291,168873,E92000001,E19000003,E18000007,Unnamed: 7,E09000006,E05013991
0,BR1 1AB,10,540262,169405,E92000001,E19000003,E18000007,NaN,E09000006,E05013991
1,BR1 1AE,10,540197,169204,E92000001,E19000003,E18000007,NaN,E09000006,E05013991
2,BR1 1AF,10,540259,168855,E92000001,E19000003,E18000007,NaN,E09000006,E05013991
3,BR1 1AG,10,540259,168855,E92000001,E19000003,E18000007,NaN,E09000006,E05013991
4,BR1 1AH,10,540430,168754,E92000001,E19000003,E18000007,NaN,E09000006,E05013991
...,...,...,...,...,...,...,...,...,...,...
6799,BR8 9DT,10,551403,168554,E92000001,E19000002,E18000008,E10000016,E07000111,E05005031
6800,BR8 9DU,10,551403,168554,E92000001,E19000002,E18000008,E10000016,E07000111,E05005031
6801,BR8 9EJ,10,551403,168554,E92000001,E19000002,E18000008,E10000016,E07000111,E05005031
6802,BR8 9EL,10,551403,168554,E92000001,E19000002,E18000008,E10000016,E07000111,E05005031
6803,BR8 9XA,10,551403,168554,E92000001,E19000002,E18000008,E10000016,E07000111,E05005031

In [1]:
df_combined

NameError: name 'df_combined' is not defined

In [110]:
transformer = Transformer.from_crs("EPSG:27700", "EPSG:4326", always_xy=True)

coor= []
for i,j in df_combined[['Eastings','Northings']].values:
  lon, lat = transformer.transform(i, j)
  coor.append([lon,lat])

new_columns = pd.DataFrame(coor, columns=['Longitude_prop', 'Latitude_prop'])

rep = pd.concat([new_columns] * (len(df_combined) // len(new_columns) + 1), ignore_index=True).head(len(df_combined))
all_postcodes = pd.concat([df_combined, rep], axis=1)

In [111]:
df_merged = land_registry_df.merge(all_postcodes[['Postcode','Longitude_prop','Latitude_prop']], on='Postcode', how='inner')

print("\nMerged DataFrame (Inner Join):")
print(df_merged)

Merged DataFrame (Inner Join):
                 Transaction unique identifier   Price  Date of Transfer  \
0       {06C9F487-D94B-9388-E063-4804A8C0BD98}  330000  2023-03-20 00:00
1       {06C9F487-D94C-9388-E063-4804A8C0BD98}  269950  2023-07-25 00:00
2       {06C9F487-D94D-9388-E063-4804A8C0BD98}  280000  2023-08-10 00:00
3       {06C9F487-D94E-9388-E063-4804A8C0BD98}  699999  2023-08-24 00:00
4       {06C9F487-D94F-9388-E063-4804A8C0BD98}  160000  2023-08-21 00:00
...                                        ...     ...               ...
809924  {152AB734-65BF-E651-E063-4704A8C061D9}  235000  2023-03-07 00:00
809925  {152AB734-65C0-E651-E063-4704A8C061D9}  229995  2023-04-21 00:00
809926  {152AB734-65C2-E651-E063-4704A8C061D9}  253995  2023-04-24 00:00
809927  {152AB734-65C3-E651-E063-4704A8C061D9}  270000  2023-03-24 00:00
809928  {152AB734-65C4-E651-E063-4704A8C061D9}  279995  2023-05-19 00:00

        Postcode PropertyType Old/New Duration                    PAON  \
0       CF14 7BX            T       N        F                      32
1       LL28 4SH            D       N        F                       7
2       LL31 9BN            D       N        F             PLAS COLWYN
3       SA62 6BA            D       N        F         MIDDLE LOCHVANE
4       SY16 1QY            T       N        F                     167
...          ...          ...     ...      ...                     ...
809924  LS12 4FJ            T       Y        F                      37
809925   LS4 2EJ            F       Y        L  BLOCK B ALEXANDRA PARK
809926   WF7 5QE            D       Y        F                       4
809927  LS12 4FL            T       Y        F                      19
809928  LS25 4EP            S       Y        F                      44

             SAON             Street      Locality      Town/city  \
0             NaN  HEOL PANT Y CELYN           NaN        CARDIFF
1             NaN      MARSTON DRIVE   RHOS ON SEA     COLWYN BAY
2             NaN         LLYS HELYG       DEGANWY          CONWY
3             NaN                NaN     PEN Y CWM  HAVERFORDWEST
4             NaN        LON DOLAFON           NaN        NEWTOWN
...           ...                ...           ...            ...
809924        NaN         BOBBIN ROW           NaN          LEEDS
809925  FLAT B204        WILLOW ROAD           NaN          LEEDS
809926        NaN        MILLER ROAD  FEATHERSTONE     PONTEFRACT
809927        NaN   PARK MEADOW LANE           NaN          LEEDS
809928        NaN        WADDLE ROAD   MICKLEFIELD          LEEDS

             District          County PPD Category Type  \
0             CARDIFF         CARDIFF                 A
1               CONWY           CONWY                 A
2               CONWY           CONWY                 A
3       PEMBROKESHIRE   PEMBROKESHIRE                 A
4               POWYS           POWYS                 A
...               ...             ...               ...
809924          LEEDS  WEST YORKSHIRE                 A
809925          LEEDS  WEST YORKSHIRE                 A
809926      WAKEFIELD  WEST YORKSHIRE                 A
809927          LEEDS  WEST YORKSHIRE                 A
809928          LEEDS  WEST YORKSHIRE                 A

       Record Status-monthly file only  Longitude_prop  Latitude_prop
0                                    A       -3.230427      51.521780
1                                    A       -3.758625      53.307721
2                                    A       -3.834173      53.300155
3                                    A       -5.165292      51.870469
4                                    A       -3.341036      52.508779
...                                ...             ...            ...
809924                               A       -1.612370      53.791536
809925                               A       -1.575933      53.805668
809926                               A       -1.352843      53.678055
809927                               A       -1.610767      53.790928
809928                               A       -1.331682      53.798273

[809929 rows x 18 columns]

In [112]:
schools.rename(columns={'POSTCODE': 'Postcode'}, inplace=True)

In [113]:
school_merged = schools.merge(all_postcodes[['Postcode','Longitude_prop','Latitude_prop']], on='Postcode', how='inner')

print("\nMerged DataFrame (Inner Join):")
print(school_merged)

Merged DataFrame (Inner Join):
          URN           LANAME   LA  ESTAB  LAESTAB  \
0      100000   City of London  201   3614  2013614
1      100001   City of London  201   6005  2016005
2      100002   City of London  201   6006  2016006
3      100003   City of London  201   6007  2016007
4      100008           Camden  202   2019  2022019
...       ...              ...  ...    ...      ...
25393  151399  North Yorkshire  815   2225  8152225
25394  151432          Norfolk  926   2276  9262276
25395  151443        Blackpool  890   4007  8904007
25396  151533        Wiltshire  865   4009  8654009
25397  151534            Essex  881   2195  8812195

                                         SCHNAME                     STREET  \
0                             The Aldgate School         St James's Passage
1                City of London School for Girls          St Giles' Terrace
2                     St Paul's Cathedral School               2 New Change
3                          City of London School  107 Queen Victoria Street
4                          Argyle Primary School           Tonbridge Street
...                                          ...                        ...
25393                          Broomfield School          Broomfield Avenue
25394                      Iceni Primary Academy             98 Main Street
25395                        South Shore Academy              St Annes Road
25396                         Pewsey Vale School                Wilcot Road
25397  St Michael's CofE Primary Academy, Ramsey                 Mayes Lane

           LOCALITY ADDRESS3                 TOWN  ... ISPOST16 AGELOW  \
0      Duke's Place      NaN               London  ...        0    3.0
1          Barbican      NaN               London  ...        1    7.0
2               NaN      NaN               London  ...        0    4.0
3               NaN      NaN               London  ...        1   10.0
4               NaN      NaN               London  ...        0    3.0
...             ...      ...                  ...  ...      ...    ...
25393           NaN      NaN        Northallerton  ...        0    4.0
25394           NaN      NaN  Hockwold Cum Wilton  ...        0    4.0
25395           NaN      NaN            Blackpool  ...        0   11.0
25396     Wiltshire      NaN               Pewsey  ...        0   11.0
25397        Ramsey      NaN              Harwich  ...        0    5.0

      AGEHIGH GENDER            RELCHAR          ADMPOL  OFSTEDRATING  \
0        11.0  Mixed  Church of England  Not applicable   Outstanding
1        18.0  Girls                NaN       Selective           NaN
2        13.0  Mixed  Church of England  Not applicable           NaN
3        18.0   Boys                NaN  Not applicable           NaN
4        11.0  Mixed     Does not apply  Not applicable          Good
...       ...    ...                ...             ...           ...
25393    11.0  Mixed     Does not apply  Not applicable           NaN
25394    11.0  Mixed                NaN             NaN           NaN
25395    16.0  Mixed                NaN             NaN           NaN
25396    16.0  Mixed                NaN             NaN           NaN
25397    11.0    NaN  Church of England             NaN           NaN

       OFSTEDLASTINSP  Longitude_prop  Latitude_prop
0          12-06-2024       -0.077486      51.513662
1                 NaN       -0.094509      51.519129
2                 NaN       -0.096820      51.513834
3                 NaN       -0.099387      51.511025
4          04-10-2022       -0.124037      51.528750
...               ...             ...            ...
25393             NaN       -1.435780      54.329917
25394             NaN        0.551408      52.463048
25395             NaN       -3.043894      53.796128
25396             NaN       -1.774059      51.340085
25397             NaN        1.226391      51.926574

[25398 rows x 28 columns]

### Checking the null values

In [114]:
print(df_merged.isnull().sum())
print('\n')
print(Stops.isnull().sum())
print('\n')
print(school_merged.isnull().sum())

Transaction unique identifier           0
Price                                   0
Date of Transfer                        0
Postcode                                0
PropertyType                            0
Old/New                                 0
Duration                                0
PAON                                    0
SAON                               703022
Street                              12927
Locality                           506337
Town/city                               0
District                                0
County                                  0
PPD Category Type                       0
Record Status-monthly file only         0
Longitude_prop                          0
Latitude_prop                           0
dtype: int64


ATCOCode                        0
NaptanCode                  25721
PlateCode                  372481
CleardownCode              435436
CommonName                      0
CommonNameLang             435436
ShortCommonName            338697
ShortCommonNameLang        435436
Landmark                   184115
LandmarkLang               435436
Street                      23944
StreetLang                 435436
Crossing                   435436
CrossingLang               435436
Indicator                   23814
IndicatorLang              435436
Bearing                     23842
NptgLocalityCode                0
LocalityName                    0
ParentLocalityName         245363
GrandParentLocalityName    435436
Town                       279737
TownLang                   420230
Suburb                     362544
SuburbLang                 423781
LocalityCentre               6395
GridType                    16412
Easting                         0
Northing                        0
Longitude                   52469
Latitude                    52469
StopType                        0
BusStopType                 18359
TimingStatus                15175
DefaultWaitTime            435436
Notes                      435436
NotesLang                  435436
AdministrativeAreaCode          0
CreationDateTime                0
ModificationDateTime          426
RevisionNumber              10814
Modification                35366
Status                          0
dtype: int64


URN                   0
LANAME                0
LA                    0
ESTAB                 0
LAESTAB               0
SCHNAME               0
STREET               60
LOCALITY          11036
ADDRESS3          23103
TOWN                520
Postcode              0
SCHSTATUS             0
OPENDATE          23937
CLOSEDATE         23929
MINORGROUP            0
SCHOOLTYPE            0
ISPRIMARY             0
ISSECONDARY           0
ISPOST16              0
AGELOW                4
AGEHIGH               4
GENDER                7
RELCHAR            4593
ADMPOL             1132
OFSTEDRATING       3363
OFSTEDLASTINSP     3240
Longitude_prop        0
Latitude_prop         0
dtype: int64

In [115]:
Stops.dropna(subset = ['Latitude', 'Longitude'], how='all',inplace=True)

### Top 30 Districts

In [116]:
top_30 = pd.DataFrame(df_merged['District'].value_counts()[:30]).reset_index()
locations = top_30['District'].values

In [117]:
filtered_df = df_merged[df_merged['District'].isin(locations)]

### Creating New columns

In [118]:
def latlon_to_cartesian(lat, lon, R=6371.0):
    lat_radians = np.radians(lat)
    lon_radians = np.radians(lon)
    x = R * np.cos(lat_radians) * np.cos(lon_radians)
    y = R * np.cos(lat_radians) * np.sin(lon_radians)
    z = R * np.sin(lat_radians)
    return x, y, z



# Build station coords & KDTree
sx, sy, sz = latlon_to_cartesian(Stops['Latitude'], Stops['Longitude'])
station_coords = np.column_stack((sx, sy, sz))
tree = cKDTree(station_coords)


# Convert properties to 3D
px, py, pz = latlon_to_cartesian(filtered_df['Latitude_prop'], filtered_df['Longitude_prop'])
prop_coords = np.column_stack((px, py, pz))

# Query tree
distances, indices = tree.query(prop_coords, k=1)

# Attach results
filtered_df['nearest_station_index'] = indices
filtered_df['dist_chord_km'] = distances
filtered_df['closest_station'] = filtered_df['nearest_station_index'].apply(
    lambda i: Stops.iloc[i]['CommonName'] if i >= 0 else None
)

<ipython-input-118-daa620d5d111>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['nearest_station_index'] = indices
<ipython-input-118-daa620d5d111>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['dist_chord_km'] = distances
<ipython-input-118-daa620d5d111>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['closest_station'] = filtered_df['nearest_station_index'].apply(

In [119]:
# Build station coords & KDTree
sx1, sy1, sz1 = latlon_to_cartesian(school_merged['Latitude_prop'], school_merged['Longitude_prop'])
school_coords = np.column_stack((sx1, sy1, sz1))
tree1 = cKDTree(school_coords)


# Convert properties to 3D
px1, py1, pz1 = latlon_to_cartesian(filtered_df['Latitude_prop'], filtered_df['Longitude_prop'])
prop_coords1 = np.column_stack((px1, py1, pz1))

# Query tree
distances1, indices1 = tree1.query(prop_coords1, k=1)

# Attach results
filtered_df['nearest_school_index'] = indices1
filtered_df['dist_school_km'] = distances1
filtered_df['closest_school'] = filtered_df['nearest_school_index'].apply(
    lambda i: school_merged.iloc[i]['SCHNAME'] if i >= 0 else None
)

<ipython-input-119-6c8a7c0219fc>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['nearest_school_index'] = indices1
<ipython-input-119-6c8a7c0219fc>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['dist_school_km'] = distances1
<ipython-input-119-6c8a7c0219fc>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['closest_school'] = filtered_df['nearest_school_index'].apply(

In [120]:
filtered_df.head()

,Transaction unique identifier,Price,Date of Transfer,Postcode,PropertyType,Old/New,Duration,PAON,SAON,Street,...,PPD Category Type,Record Status-monthly file only,Longitude_prop,Latitude_prop,nearest_station_index,dist_chord_km,closest_station,nearest_school_index,dist_school_km,closest_school
0,{06C9F487-D94B-9388-E063-4804A8C0BD98},330000,2023-03-20 00:00,CF14 7BX,T,N,F,32,NaN,HEOL PANT Y CELYN,...,A,A,-3.230427,51.521780,337034,0.127737,Hollybush Inn,11749,25.660944,Weston College
10,{06C9F487-D956-9388-E063-4804A8C0BD98},247600,2023-08-04 00:00,CF14 3DX,S,N,F,29,NaN,MYNACHDY ROAD,...,A,A,-3.198424,51.500207,337266,0.049774,Wyfan Place,11749,22.396198,Weston College
24,{06C9F487-D965-9388-E063-4804A8C0BD98},465000,2023-08-16 00:00,CF14 1SB,D,N,F,6,NaN,HEOL PEN Y FAI,...,A,A,-3.208879,51.510899,337052,0.170733,Ararat Church,11749,23.764113,Weston College
30,{06C9F487-D96C-9388-E063-4804A8C0BD98},320000,2023-08-03 00:00,CF15 9EJ,D,N,F,2,NaN,MAES Y NANT,...,A,A,-3.327394,51.521451,337712,0.145621,Llys Gwynno,11749,30.564809,Weston College
49,{06C9F487-DB19-9388-E063-4804A8C0BD98},210000,2023-05-19 00:00,CF5 4EA,S,N,F,62,NaN,LLEWELLYN AVENUE,...,A,A,-3.255042,51.483366,337504,0.219598,Archer Road,11749,24.011408,Weston College