## Importing the modules

In [41]:
import pandas as pd
import requests
from google.colab import drive
drive.mount('/content/drive')
import numpy as np
import pandas as pd
import glob
import os
from pyproj import Transformer
import time
from scipy.spatial import cKDTree

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Reading the Property sale data 2023

In [42]:
csv_file = "/content/drive/MyDrive/data science project/pp-2023.csv"
land_registry_df = pd.read_csv(csv_file, header=None)
print(land_registry_df.shape)

(812766, 16)

 ##### Link to the header file https://www.gov.uk/guidance/about-the-price-paid-data

In [43]:
land_registry_df.columns = ['Transaction unique identifier','Price','Date of Transfer',
                            'Postcode','PropertyType','Old/New','Duration','PAON','SAON',
                            'Street','Locality','Town/city','District','County','PPD Category Type','Record Status-monthly file only']

## Reading the Stops data

In [44]:
csv_file = "/content/drive/MyDrive/data science project/Stops.csv"
Stops = pd.read_csv(csv_file)
print(Stops.shape)

<ipython-input-44-ee71dce86309>:2: DtypeWarning: Columns (1,2,6,8,21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  Stops = pd.read_csv(csv_file)

(435436, 43)

In [45]:
Stops[:5].columns

Index(['ATCOCode', 'NaptanCode', 'PlateCode', 'CleardownCode', 'CommonName',
       'CommonNameLang', 'ShortCommonName', 'ShortCommonNameLang', 'Landmark',
       'LandmarkLang', 'Street', 'StreetLang', 'Crossing', 'CrossingLang',
       'Indicator', 'IndicatorLang', 'Bearing', 'NptgLocalityCode',
       'LocalityName', 'ParentLocalityName', 'GrandParentLocalityName', 'Town',
       'TownLang', 'Suburb', 'SuburbLang', 'LocalityCentre', 'GridType',
       'Easting', 'Northing', 'Longitude', 'Latitude', 'StopType',
       'BusStopType', 'TimingStatus', 'DefaultWaitTime', 'Notes', 'NotesLang',
       'AdministrativeAreaCode', 'CreationDateTime', 'ModificationDateTime',
       'RevisionNumber', 'Modification', 'Status'],
      dtype='object')

## Reading the School data

In [46]:
csv_file2 = "/content/drive/MyDrive/data science project/2023-2024_england_school_information.csv"
schools = pd.read_csv(csv_file2)
schools.shape

(25489, 26)

## Data preprocessing

### Data type conversion

In [47]:
for col in ['Easting','Northing','Longitude','Latitude']:
    Stops[col] = pd.to_numeric(Stops[col], errors='coerce')

print(Stops[['CommonName','Longitude','Latitude']])

                               CommonName  Longitude   Latitude
0                        Temple Meads Stn  -2.582620  51.448980
1                        Temple Meads Stn  -2.581770  51.449440
2                        Temple Meads Stn  -2.585790  51.449020
3                        Temple Meads Stn  -2.585600  51.450140
4                        Temple Meads Stn  -2.584890  51.449670
...                                   ...        ...        ...
435431    Talbot Road (Blackpool Tramway)  -3.054507  53.819144
435432    Talbot Road (Blackpool Tramway)  -3.054537  53.819135
435433  North Station (Blackpool Tramway)  -3.050058  53.821035
435434  North Station (Blackpool Tramway)  -3.050088  53.821034
435435  North Station (Blackpool Tramway)  -3.050027  53.821035

[435436 rows x 3 columns]

In [48]:
land_registry_df["Price"] = pd.to_numeric(land_registry_df["Price"], errors="coerce")

print(land_registry_df[['Postcode','Price','Town/city','District','County']])

        Postcode   Price      Town/city       District          County
0       CF14 7BX  330000        CARDIFF        CARDIFF         CARDIFF
1       LL28 4SH  269950     COLWYN BAY          CONWY           CONWY
2       LL31 9BN  280000          CONWY          CONWY           CONWY
3       SA62 6BA  699999  HAVERFORDWEST  PEMBROKESHIRE   PEMBROKESHIRE
4       SY16 1QY  160000        NEWTOWN          POWYS           POWYS
...          ...     ...            ...            ...             ...
812761  LS12 4FJ  235000          LEEDS          LEEDS  WEST YORKSHIRE
812762   LS4 2EJ  229995          LEEDS          LEEDS  WEST YORKSHIRE
812763   WF7 5QE  253995     PONTEFRACT      WAKEFIELD  WEST YORKSHIRE
812764  LS12 4FL  270000          LEEDS          LEEDS  WEST YORKSHIRE
812765  LS25 4EP  279995          LEEDS          LEEDS  WEST YORKSHIRE

[812766 rows x 5 columns]

### Postcodes to latitude & Longitude conversion

#### link https://osdatahub.os.uk/downloads/open/CodePointOpen

In [49]:
folder_path = "/content/drive/MyDrive/data science project/CSV/"
csv_files = glob.glob(os.path.join(folder_path, "*.csv"))

df_list = []
for file in csv_files:
    temp_df = pd.read_csv(file)
    df_list.append(temp_df)


d=[]
for i in df_list[:-1]:
  d.append(i.values)
master_columns = ['Postcode','Positional_quality_indicator','Eastings','Northings','Countrycode','NHS_reg_HA_code','NHS_code','Admin_county',
                  'Admin_dist','Admin_ward']
combined_data = np.concatenate(d, axis=0)
df_combined = pd.DataFrame(combined_data,columns = master_columns )

<ipython-input-49-75000cbaef64>:6: DtypeWarning: Columns (0,4,5,6,7,8,9,10,13,14,15,16,17,20,21,22,25,26,27,30,31,32,33,36,37,38,41,42,43,46,47,48,49,52,53,54,55,56,59,61,62,63,64,67,68,69,72,73) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file)

In [50]:
df_list

[        B1 1AY  10  406523  286448  E92000001  E19000001  E18000005  \
 0       B1 1BA  10  406875  286393  E92000001  E19000001  E18000005
 1       B1 1BB  10  406654  286948  E92000001  E19000001  E18000005
 2       B1 1BD  10  406689  286781  E92000001  E19000001  E18000005
 3       B1 1BE  10  406721  286611  E92000001  E19000001  E18000005
 4       B1 1BL  10  406779  286550  E92000001  E19000001  E18000005
 ...        ...  ..     ...     ...        ...        ...        ...
 41898  B99 1DN  10  407279  288677  E92000001  E19000001  E18000005
 41899  B99 1DP  10  407279  288677  E92000001  E19000001  E18000005
 41900  B99 1DQ  10  407279  288677  E92000001  E19000001  E18000005
 41901  B99 1DS  10  407279  288677  E92000001  E19000001  E18000005
 41902  B99 1DW  10  407279  288677  E92000001  E19000001  E18000005

       Unnamed: 7  E08000025  E05011151
 0            NaN  E08000025  E05011151
 1            NaN  E08000025  E05011151
 2            NaN  E08000025  E05011151
 3            NaN  E08000025  E05011151
 4            NaN  E08000025  E05011151
 ...          ...        ...        ...
 41898        NaN  E08000025  E05011156
 41899        NaN  E08000025  E05011156
 41900        NaN  E08000025  E05011156
 41901        NaN  E08000025  E05011156
 41902        NaN  E08000025  E05011156

 [41903 rows x 10 columns],
       BR1 1AA  10  540291  168873  E92000001  E19000003  E18000007 Unnamed: 7  \
 0     BR1 1AB  10  540262  169405  E92000001  E19000003  E18000007        NaN
 1     BR1 1AE  10  540197  169204  E92000001  E19000003  E18000007        NaN
 2     BR1 1AF  10  540259  168855  E92000001  E19000003  E18000007        NaN
 3     BR1 1AG  10  540259  168855  E92000001  E19000003  E18000007        NaN
 4     BR1 1AH  10  540430  168754  E92000001  E19000003  E18000007        NaN
 ...       ...  ..     ...     ...        ...        ...        ...        ...
 6799  BR8 9DT  10  551403  168554  E92000001  E19000002  E18000008  E10000016
 6800  BR8 9DU  10  551403  168554  E92000001  E19000002  E18000008  E10000016
 6801  BR8 9EJ  10  551403  168554  E92000001  E19000002  E18000008  E10000016
 6802  BR8 9EL  10  551403  168554  E92000001  E19000002  E18000008  E10000016
 6803  BR8 9XA  10  551403  168554  E92000001  E19000002  E18000008  E10000016

       E09000006  E05013991
 0     E09000006  E05013991
 1     E09000006  E05013991
 2     E09000006  E05013991
 3     E09000006  E05013991
 4     E09000006  E05013991
 ...         ...        ...
 6799  E07000111  E05005031
 6800  E07000111  E05005031
 6801  E07000111  E05005031
 6802  E07000111  E05005031
 6803  E07000111  E05005031

 [6804 rows x 10 columns],
         BS1 1AD  10  360205  173432  E92000001  E19000002  E18000010  \
 0       BS1 1BT  10  358709  172898  E92000001  E19000002  E18000010
 1       BS1 1BU  10  358827  172909  E92000001  E19000002  E18000010
 2       BS1 1DA  10  358754  173036  E92000001  E19000002  E18000010
 3       BS1 1DB  10  358722  173079  E92000001  E19000002  E18000010
 4       BS1 1DD  10  360152  173577  E92000001  E19000002  E18000010
 ...         ...  ..     ...     ...        ...        ...        ...
 27342  BS99 7UJ  10  360205  173432  E92000001  E19000002  E18000010
 27343  BS99 7UR  10  360205  173432  E92000001  E19000002  E18000010
 27344  BS99 7WS  10  360205  173432  E92000001  E19000002  E18000010
 27345  BS99 7ZN  10  360205  173432  E92000001  E19000002  E18000010
 27346  BS99 7ZR  10  360205  173432  E92000001  E19000002  E18000010

        Unnamed: 7  E06000023  E05010907
 0             NaN  E06000023  E05010892
 1             NaN  E06000023  E05010892
 2             NaN  E06000023  E05010892
 3             NaN  E06000023  E05010892
 4             NaN  E06000023  E05010907
 ...           ...        ...        ...
 27342         NaN  E06000023  E05010907
 27343         NaN  E06000023  E05010907
 27344         NaN  E06000023  E05010907
 27345         NaN  E06000023  E05010907
 27346         NaN  E06000023  E05010907

 [27347 rows x 10 columns],
        BH1 1AA  10  409722  92041  E92000001  E19000002  E18000010 Unnamed: 7  \
 0      BH1 1AF  10  409181  91523  E92000001  E19000002  E18000010        NaN
 1      BH1 1AH  10  409265  91464  E92000001  E19000002  E18000010        NaN
 2      BH1 1AJ  10  409162  92265  E92000001  E19000002  E18000010        NaN
 3      BH1 1AL  10  409284  91366  E92000001  E19000002  E18000010        NaN
 4      BH1 1AN  10  409437  91439  E92000001  E19000002  E18000010        NaN
 ...        ...  ..     ...    ...        ...        ...        ...        ...
 15276  BH9 3SB  10  410008  95909  E92000001  E19000002  E18000010        NaN
 15277  BH9 3SD  10  409926  95935  E92000001  E19000002  E18000010        NaN
 15278  BH9 3SE  10  410058  95881  E92000001  E19000002  E18000010        NaN
 15279  BH9 3SF  10  410014  95810  E92000001  E19000002  E18000010        NaN
 15280  BH9 3SG  10  409977  95857  E92000001  E19000002  E18000010        NaN

        E06000058  E05012661
 0      E06000058  E05012653
 1      E06000058  E05012653
 2      E06000058  E05012653
 3      E06000058  E05012653
 4      E06000058  E05012653
 ...          ...        ...
 15276  E06000058  E05012669
 15277  E06000058  E05012669
 15278  E06000058  E05012669
 15279  E06000058  E05012669
 15280  E06000058  E05012669

 [15281 rows x 10 columns],
       AL1 1AG  10  515487  206498  E92000001  E19000001  E18000006  E10000015  \
 0     AL1 1AJ  10  515491  206410  E92000001  E19000001  E18000006  E10000015
 1     AL1 1AR  10  516270  205897  E92000001  E19000001  E18000006  E10000015
 2     AL1 1AS  10  515005  206908  E92000001  E19000001  E18000006  E10000015
 3     AL1 1AT  10  516131  206148  E92000001  E19000001  E18000006  E10000015
 4     AL1 1AU  10  516141  206088  E92000001  E19000001  E18000006  E10000015
 ...       ...  ..     ...     ...        ...        ...        ...        ...
 7790  AL9 7UT  10  524178  204587  E92000001  E19000001  E18000006  E10000015
 7791  AL9 7UU  10  524195  204365  E92000001  E19000001  E18000006  E10000015
 7792  AL9 7UW  10  524423  203810  E92000001  E19000001  E18000006  E10000015
 7793  AL9 7UX  10  524251  204340  E92000001  E19000001  E18000006  E10000015
 7794  AL9 7YZ  10  522875  205590  E92000001  E19000001  E18000006  E10000015

       E07000240  E05013963
 0     E07000240  E05013963
 1     E07000240  E05013951
 2     E07000240  E05013964
 3     E07000240  E05013951
 4     E07000240  E05013951
 ...         ...        ...
 7790  E07000241  E05011058
 7791  E07000241  E05011058
 7792  E07000241  E05011058
 7793  E07000241  E05011058
 7794  E07000241  E05011071

 [7795 rows x 10 columns],
         CA1 1AA  10  339560  555499  E92000001  E19000001  E18000002  \
 0       CA1 1AB  10  340334  555694  E92000001  E19000001  E18000002
 1       CA1 1AE  10  340407  555837  E92000001  E19000001  E18000002
 2       CA1 1AF  10  340361  555862  E92000001  E19000001  E18000002
 3       CA1 1AG  10  340526  555762  E92000001  E19000001  E18000002
 4       CA1 1AJ  10  340579  555666  E92000001  E19000001  E18000002
 ...         ...  ..     ...     ...        ...        ...        ...
 12847   CA9 3XZ  10  371935  546454  E92000001  E19000001  E18000002
 12848  CA95 1AB  10  299012  528856  E92000001  E19000001  E18000002
 12849  CA95 1AE  10  299012  528856  E92000001  E19000001  E18000002
 12850  CA95 1DD  10  299012  528856  E92000001  E19000001  E18000002
 12851  CA95 1SS  10  299012  528856  E92000001  E19000001  E18000002

        Unnamed: 7  E06000063  E05014187
 0             NaN  E06000063  E05014178
 1             NaN  E06000063  E05014178
 2             NaN  E06000063  E05014178
 3             NaN  E06000063  E05014178
 4             NaN  E06000063  E05014178
 ...           ...        ...        ...
 12847         NaN  E06000064  E05014217
 12848         NaN  E06000063  E05014208
 12849         NaN  E06000063  E05014208
 12850         NaN  E06000063  E05014208
 12851         NaN  E06000063  E05014208

 [12852 rows x 10 columns],
        BL0 0AA  10  379448  416851  E92000001  E19000001  E18000002  \
 0      BL0 0AB  10  379442  416877  E92000001  E19000001  E18000002
 1      BL0 0AD  10  379389  417007  E92000001  E19000001  E18000002
 2      BL0 0AF  10  379425  418097  E92000001  E19000001  E18000002
 3      BL0 0AG  10  379627  416803  E92000001  E19000001  E18000002
 4      BL0 0AH  10  379409  417016  E92000001  E19000001  E18000002
 ...        ...  ..     ...     ...        ...        ...        ...
 10391  BL9 9UH  10  379611  409483  E92000001  E19000001  E18000002
 10392  BL9 9UJ  10  379616  409522  E92000001  E19000001  E18000002
 10393  BL9 9UL  10  380454  409583  E92000001  E19000001  E18000002
 10394  BL9 9US  10  380701  407981  E92000001  E19000001  E18000002
 10395  BL9 9UT  10  380020  408130  E92000001  E19000001  E18000002

       Unnamed: 7  E08000002  E05014163
 0            NaN  E08000002  E05014163
 1            NaN  E08000002  E05014163
 2      E10000017  E07000125  E05015820
 3            NaN  E08000002  E05014163
 4            NaN  E08000002  E05014163
 ...          ...        ...        ...
 10391        NaN  E08000002  E05014164
 10392        NaN  E08000002  E05014164
 10393        NaN  E08000002  E05014164
 10394        NaN  E08000002  E05014168
 10395        NaN  E08000002  E05014160

 [10396 rows x 10 columns],
         BN1 1AA  10  531040  104624  E92000001  E19000002  E18000008  \
 0       BN1 1AB  10  530981  104247  E92000001  E19000002  E18000008
 1       BN1 1AD  10  530970  104094  E92000001  E19000002  E18000008
 2       BN1 1AE  10  530988  104072  E92000001  E19000002  E18000008
 3       BN1 1AF  10  530996  104202  E92000001  E19000002  E18000008
 4       BN1 1AG  10  530905  104241  E92000001  E19000002  E18000008
 ...         ...  ..     ...     ...        ...        ...        ...
 22452  BN99 9HW  10  517706  104201  E92000001  E19000002  E18000008
 22453  BN99 9HX  50  517706  104201  E92000001  E19000002  E18000008
 22454  BN99 9HY  50  517706  104201  E92000001  E19000002  E18000008
 22455  BN99 9HZ  50  517706  104201  E92000001  E19000002  E18000008
 22456  BN99 9JA  50  517706  104201  E92000001  E19000002  E18000008

       Unnamed: 7  E06000043  E05015415
 0            NaN  E06000043  E05015411
 1            NaN  E06000043  E05015411
 2            NaN  E06000043  E05015411
 3            NaN  E06000043  E05015411
 4            NaN  E06000043  E05015411
 ...          ...        ...        ...
 22452  E10000032  E07000223  E05007563
 22453  E10000032  E07000223  E05007563
 22454  E10000032  E07000223  E05007563
 22455  E10000032  E07000223  E05007563
 22456  E10000032  E07000223  E05007563

 [22457 rows x 10 columns],
        BB1 1AE  10  369997  427645  E92000001  E19000001  E18000002  \
 0      BB1 1AF  10  368504  428016  E92000001  E19000001  E18000002
 1      BB1 1AG  50  368501  427881  E92000001  E19000001  E18000002
 2      BB1 1AQ  10  368497  427745  E92000001  E19000001  E18000002
 3      BB1 1BA  10  369001  427811  E92000001  E19000001  E18000002
 4      BB1 1BB  10  368485  427493  E92000001  E19000001  E18000002
 ...        ...  ..     ...     ...        ...        ...        ...
 13540  BB9 9XW  10  386509  438200  E92000001  E19000001  E18000002
 13541  BB9 9XX  10  386261  437942  E92000001  E19000001  E18000002
 13542  BB9 9XY  10  386288  437961  E92000001  E19000001  E18000002
 13543  BB9 9YD  10  386288  437961  E92000001  E19000001  E18000002
 13544  BB9 9YN  10  386298  438202  E92000001  E19000001  E18000002

       Unnamed: 7  E06000008  E05011508
 0            NaN  E06000008  E05011511
 1            NaN  E06000008  E05011511
 2            NaN  E06000008  E05011511
 3            NaN  E06000008  E05011511
 4            NaN  E06000008  E05011511
 ...          ...        ...        ...
 13540  E10000017  E07000122  E05013203
 13541  E10000017  E07000122  E05013203
 13542  E10000017  E07000122  E05013203
 13543  E10000017  E07000122  E05013203
 13544  E10000017  E07000122  E05013203

 [13545 rows x 10 columns],
        BA1 0AA  10  375350  164482  E92000001  E19000002  E18000010  \
 0      BA1 0AD  10  375350  164482  E92000001  E19000002  E18000010
 1      BA1 0AH  10  375350  164482  E92000001  E19000002  E18000010
 2      BA1 0AN  10  375350  164482  E92000001  E19000002  E18000010
 3      BA1 0AU  10  375350  164482  E92000001  E19000002  E18000010
 4      BA1 0AZ  10  375350  164482  E92000001  E19000002  E18000010
 ...        ...  ..     ...     ...        ...        ...        ...
 15505  BA9 9SQ  10  371386  127990  E92000001  E19000002  E18000010
 15506  BA9 9TA  10  371178  128679  E92000001  E19000002  E18000010
 15507  BA9 9TD  10  371055  127983  E92000001  E19000002  E18000010
 15508  BA9 9YZ  10  371367  128748  E92000001  E19000002  E18000010
 15509  BA9 9ZZ  10  371367  128748  E92000001  E19000002  E18000010

        Unnamed: 7  E06000022  E05012471
 0             NaN  E06000022  E05012471
 1             NaN  E06000022  E05012471
 2             NaN  E06000022  E05012471
 3             NaN  E06000022  E05012471
 4             NaN  E06000022  E05012471
 ...           ...        ...        ...
 15505         NaN  E06000066  E05014389
 15506         NaN  E06000066  E05014389
 15507         NaN  E06000066  E05014389
 15508         NaN  E06000066  E05014389
 15509         NaN  E06000066  E05014389

 [15510 rows x 10 columns],
        AB10 1AB  10  394235  806529  S92000003  Unnamed: 5  S08000020  \
 0      AB10 1AF  10  394235  806529  S92000003         NaN  S08000020
 1      AB10 1AG  10  394230  806469  S92000003         NaN  S08000020
 2      AB10 1AH  10  394235  806529  S92000003         NaN  S08000020
 3      AB10 1AL  10  394296  806581  S92000003         NaN  S08000020
 4      AB10 1AN  10  394367  806541  S92000003         NaN  S08000020
 ...         ...  ..     ...     ...        ...         ...        ...
 17380  AB56 5YX  10  348775  862803  S92000003         NaN  S08000020
 17381  AB56 9AG  10  342784  865670  S92000003         NaN  S08000020
 17382  AB99 8AA  10  394406  802269  S92000003         NaN  S08000020
 17383  AB99 8AB  10  394406  802269  S92000003         NaN  S08000020
 17384  AB99 8AF  10  394406  802269  S92000003         NaN  S08000020

        Unnamed: 7  S12000033  S13002842
 0             NaN  S12000033  S13002842
 1             NaN  S12000033  S13002842
 2             NaN  S12000033  S13002842
 3             NaN  S12000033  S13002842
 4             NaN  S12000033  S13002842
 ...           ...        ...        ...
 17380         NaN  S12000020  S13003025
 17381         NaN  S12000020  S13003026
 17382         NaN  S12000033  S13002847
 17383         NaN  S12000033  S13002847
 17384         NaN  S12000033  S13002847

 [17385 rows x 10 columns],
         BD1 1AF  10  416546  433216  E92000001  E19000001  E18000003  \
 0       BD1 1AG  10  416352  433047  E92000001  E19000001  E18000003
 1       BD1 1AH  10  416620  433157  E92000001  E19000001  E18000003
 2       BD1 1BL  10  416402  433123  E92000001  E19000001  E18000003
 3       BD1 1EE  10  416499  433048  E92000001  E19000001  E18000003
 4       BD1 1EG  10  416447  433135  E92000001  E19000001  E18000003
 ...         ...  ..     ...     ...        ...        ...        ...
 17287  BD99 2XG  30  414341  433025  E92000001  E19000001  E18000003
 17288  BD99 4WZ  10  416526  433330  E92000001  E19000001  E18000003
 17289  BD99 4XB  10  416620  433432  E92000001  E19000001  E18000003
 17290  BD99 4YX  10  416626  433453  E92000001  E19000001  E18000003
 17291  BD99 9XG  10  414330  433029  E92000001  E19000001  E18000003

       Unnamed: 7  E08000032  E05001347
 0            NaN  E08000032  E05001347
 1            NaN  E08000032  E05001347
 2            NaN  E08000032  E05001347
 3            NaN  E08000032  E05001347
 4            NaN  E08000032  E05001347
 ...          ...        ...        ...
 17287        NaN  E08000032  E05001351
 17288        NaN  E08000032  E05001347
 17289        NaN  E08000032  E05001347
 17290        NaN  E08000032  E05001347
 17291        NaN  E08000032  E05001351

 [17292 rows x 10 columns],
        LL14 5BU  10  329097  337256  E92000001  E19000001  E18000005  \
 0      LL14 5BY  10  329229  337140  E92000001  E19000001  E18000005
 1      LL14 5DA  10  328788  337137  E92000001  E19000001  E18000005
 2      LL14 5DB  10  328947  337145  E92000001  E19000001  E18000005
 3      LL14 5DD  10  329205  337086  E92000001  E19000001  E18000005
 4      LL14 5DE  10  329483  337079  E92000001  E19000001  E18000005
 ...         ...  ..     ...     ...        ...        ...        ...
 20293  LL78 8JT  10  249934  383201  W92000004        NaN  W11000023
 20294  LL78 8JW  10  249500  382702  W92000004        NaN  W11000023
 20295  LL78 8JY  10  249702  382290  W92000004        NaN  W11000023
 20296  LL78 8JZ  10  250062  381711  W92000004        NaN  W11000023
 20297  LL78 8QA  10  249177  381775  W92000004        NaN  W11000023

        Unnamed: 7  E06000051  E05008183
 0             NaN  E06000051  E05009281
 1             NaN  E06000051  E05009281
 2             NaN  E06000051  E05009281
 3             NaN  E06000051  E05009281
 4             NaN  E06000051  E05009281
 ...           ...        ...        ...
 20293         NaN  W06000001  W05001499
 20294         NaN  W06000001  W05001499
 20295         NaN  W06000001  W05001499
 20296         NaN  W06000001  W05001499
 20297         NaN  W06000001  W05001499

 [20298 rows x 10 columns],
         M1 1AD  10  383848  398589  E92000001  E19000001  E18000002  \
 0       M1 1AE  10  384756  398553  E92000001  E19000001  E18000002
 1       M1 1AF  10  384359  398229  E92000001  E19000001  E18000002
 2       M1 1AJ  10  384684  398500  E92000001  E19000001  E18000002
 3       M1 1AL  10  384803  398519  E92000001  E19000001  E18000002
 4       M1 1AN  10  384492  398382  E92000001  E19000001  E18000002
 ...        ...  ..     ...     ...        ...        ...        ...
 32302  M99 1ZU  10  384684  398500  E92000001  E19000001  E18000002
 32303  M99 1ZW  10  383994  398988  E92000001  E19000001  E18000002
 32304  M99 2BE  10  384684  398500  E92000001  E19000001  E18000002
 32305  M99 2BS  10  384684  398500  E92000001  E19000001  E18000002
 32306  M99 2BT  10  384684  398500  E92000001  E19000001  E18000002

        Unnamed: 7  E08000003  E05011361
 0             NaN  E08000003  E05011376
 1             NaN  E08000003  E05011376
 2             NaN  E08000003  E05011376
 3             NaN  E08000003  E05011376
 4             NaN  E08000003  E05011376
 ...           ...        ...        ...
 32302         NaN  E08000003  E05011376
 32303         NaN  E08000003  E05011361
 32304         NaN  E08000003  E05011376
 32305         NaN  E08000003  E05011376
 32306         NaN  E08000003  E05011376

 [32307 rows x 10 columns],
         GL1 1AD  10  383316  218534  E92000001  E19000002  E18000010  \
 0       GL1 1AE  10  382994  217975  E92000001  E19000002  E18000010
 1       GL1 1AG  10  383162  218436  E92000001  E19000002  E18000010
 2       GL1 1AH  10  384609  218051  E92000001  E19000002  E18000010
 3       GL1 1AJ  10  384855  218137  E92000001  E19000002  E18000010
 4       GL1 1AN  10  382871  217824  E92000001  E19000002  E18000010
 ...         ...  ..     ...     ...        ...        ...        ...
 21585   GL9 1JP  10  380069  184236  E92000001  E19000002  E18000010
 21586   GL9 1JQ  10  377027  178566  E92000001  E19000002  E18000010
 21587   GL9 1JW  10  377064  178565  E92000001  E19000002  E18000010
 21588   GL9 1LA  10  377066  188824  E92000001  E19000002  E18000010
 21589  GL16 8PB  10  353334  212382  W92000004        NaN  W11000028

        E10000013  E07000081  E05010967
 0      E10000013  E07000081  E05010967
 1      E10000013  E07000081  E05010967
 2      E10000013  E07000081  E05010955
 3      E10000013  E07000081  E05010955
 4      E10000013  E07000081  E05010967
 ...          ...        ...        ...

In [51]:
len(df_list)

121

In [52]:
df_combined

,Postcode,Positional_quality_indicator,Eastings,Northings,Countrycode,NHS_reg_HA_code,NHS_code,Admin_county,Admin_dist,Admin_ward
0,B1 1BA,10,406875,286393,E92000001,E19000001,E18000005,NaN,E08000025,E05011151
1,B1 1BB,10,406654,286948,E92000001,E19000001,E18000005,NaN,E08000025,E05011151
2,B1 1BD,10,406689,286781,E92000001,E19000001,E18000005,NaN,E08000025,E05011151
3,B1 1BE,10,406721,286611,E92000001,E19000001,E18000005,NaN,E08000025,E05011151
4,B1 1BL,10,406779,286550,E92000001,E19000001,E18000005,NaN,E08000025,E05011151
...,...,...,...,...,...,...,...,...,...,...
1742600,TS9 7LL,10,458129,495552,E92000001,E19000001,E18000003,NaN,E06000065,E05014276
1742601,TS9 7LN,10,458201,496162,E92000001,E19000001,E18000003,NaN,E06000065,E05014276
1742602,TS9 7LQ,10,457418,493546,E92000001,E19000001,E18000003,NaN,E06000065,E05014276
1742603,TS9 7LW,10,458229,497257,E92000001,E19000001,E18000003,NaN,E06000065,E05014276
1742604,TS9 7NA,10,454802,506431,E92000001,E19000001,E18000003,NaN,E06000065,E05014325

In [53]:
df_combined[['Eastings','Northings']]

        Eastings Northings
0         406875    286393
1         406654    286948
2         406689    286781
3         406721    286611
4         406779    286550
...          ...       ...
1742600   458129    495552
1742601   458201    496162
1742602   457418    493546
1742603   458229    497257
1742604   454802    506431

[1742605 rows x 2 columns]

In [54]:
transformer = Transformer.from_crs("EPSG:27700", "EPSG:4326", always_xy=True)

coor= []
for i,j in df_combined[['Eastings','Northings']].values:
  lon, lat = transformer.transform(i, j)
  coor.append([lon,lat])

new_columns = pd.DataFrame(coor, columns=['Longitude_prop', 'Latitude_prop'])

rep = pd.concat([new_columns] * (len(df_combined) // len(new_columns) + 1), ignore_index=True).head(len(df_combined))
all_postcodes = pd.concat([df_combined, rep], axis=1)

In [55]:
all_postcodes

,Postcode,Positional_quality_indicator,Eastings,Northings,Countrycode,NHS_reg_HA_code,NHS_code,Admin_county,Admin_dist,Admin_ward,Longitude_prop,Latitude_prop
0,B1 1BA,10,406875,286393,E92000001,E19000001,E18000005,NaN,E08000025,E05011151,-1.900211,52.475425
1,B1 1BB,10,406654,286948,E92000001,E19000001,E18000005,NaN,E08000025,E05011151,-1.903454,52.480418
2,B1 1BD,10,406689,286781,E92000001,E19000001,E18000005,NaN,E08000025,E05011151,-1.902941,52.478916
3,B1 1BE,10,406721,286611,E92000001,E19000001,E18000005,NaN,E08000025,E05011151,-1.902474,52.477387
4,B1 1BL,10,406779,286550,E92000001,E19000001,E18000005,NaN,E08000025,E05011151,-1.901621,52.476838
...,...,...,...,...,...,...,...,...,...,...,...,...
1742600,TS9 7LL,10,458129,495552,E92000001,E19000001,E18000003,NaN,E06000065,E05014276,-1.107158,54.352200
1742601,TS9 7LN,10,458201,496162,E92000001,E19000001,E18000003,NaN,E06000065,E05014276,-1.105932,54.357673
1742602,TS9 7LQ,10,457418,493546,E92000001,E19000001,E18000003,NaN,E06000065,E05014276,-1.118482,54.334254
1742603,TS9 7LW,10,458229,497257,E92000001,E19000001,E18000003,NaN,E06000065,E05014276,-1.105287,54.367510
1742604,TS9 7NA,10,454802,506431,E92000001,E19000001,E18000003,NaN,E06000065,E05014325,-1.156336,54.450327

In [56]:
df_merged = land_registry_df.merge(all_postcodes[['Postcode','Longitude_prop','Latitude_prop']], on='Postcode', how='inner')

print("\nMerged DataFrame (Inner Join):")
print(df_merged)

Merged DataFrame (Inner Join):
                 Transaction unique identifier   Price  Date of Transfer  \
0       {06C9F487-D94B-9388-E063-4804A8C0BD98}  330000  2023-03-20 00:00
1       {06C9F487-D94C-9388-E063-4804A8C0BD98}  269950  2023-07-25 00:00
2       {06C9F487-D94D-9388-E063-4804A8C0BD98}  280000  2023-08-10 00:00
3       {06C9F487-D94E-9388-E063-4804A8C0BD98}  699999  2023-08-24 00:00
4       {06C9F487-D94F-9388-E063-4804A8C0BD98}  160000  2023-08-21 00:00
...                                        ...     ...               ...
809924  {152AB734-65BF-E651-E063-4704A8C061D9}  235000  2023-03-07 00:00
809925  {152AB734-65C0-E651-E063-4704A8C061D9}  229995  2023-04-21 00:00
809926  {152AB734-65C2-E651-E063-4704A8C061D9}  253995  2023-04-24 00:00
809927  {152AB734-65C3-E651-E063-4704A8C061D9}  270000  2023-03-24 00:00
809928  {152AB734-65C4-E651-E063-4704A8C061D9}  279995  2023-05-19 00:00

        Postcode PropertyType Old/New Duration                    PAON  \
0       CF14 7BX            T       N        F                      32
1       LL28 4SH            D       N        F                       7
2       LL31 9BN            D       N        F             PLAS COLWYN
3       SA62 6BA            D       N        F         MIDDLE LOCHVANE
4       SY16 1QY            T       N        F                     167
...          ...          ...     ...      ...                     ...
809924  LS12 4FJ            T       Y        F                      37
809925   LS4 2EJ            F       Y        L  BLOCK B ALEXANDRA PARK
809926   WF7 5QE            D       Y        F                       4
809927  LS12 4FL            T       Y        F                      19
809928  LS25 4EP            S       Y        F                      44

             SAON             Street      Locality      Town/city  \
0             NaN  HEOL PANT Y CELYN           NaN        CARDIFF
1             NaN      MARSTON DRIVE   RHOS ON SEA     COLWYN BAY
2             NaN         LLYS HELYG       DEGANWY          CONWY
3             NaN                NaN     PEN Y CWM  HAVERFORDWEST
4             NaN        LON DOLAFON           NaN        NEWTOWN
...           ...                ...           ...            ...
809924        NaN         BOBBIN ROW           NaN          LEEDS
809925  FLAT B204        WILLOW ROAD           NaN          LEEDS
809926        NaN        MILLER ROAD  FEATHERSTONE     PONTEFRACT
809927        NaN   PARK MEADOW LANE           NaN          LEEDS
809928        NaN        WADDLE ROAD   MICKLEFIELD          LEEDS

             District          County PPD Category Type  \
0             CARDIFF         CARDIFF                 A
1               CONWY           CONWY                 A
2               CONWY           CONWY                 A
3       PEMBROKESHIRE   PEMBROKESHIRE                 A
4               POWYS           POWYS                 A
...               ...             ...               ...
809924          LEEDS  WEST YORKSHIRE                 A
809925          LEEDS  WEST YORKSHIRE                 A
809926      WAKEFIELD  WEST YORKSHIRE                 A
809927          LEEDS  WEST YORKSHIRE                 A
809928          LEEDS  WEST YORKSHIRE                 A

       Record Status-monthly file only  Longitude_prop  Latitude_prop
0                                    A       -3.230427      51.521780
1                                    A       -3.758625      53.307721
2                                    A       -3.834173      53.300155
3                                    A       -5.165292      51.870469
4                                    A       -3.341036      52.508779
...                                ...             ...            ...
809924                               A       -1.612370      53.791536
809925                               A       -1.575933      53.805668
809926                               A       -1.352843      53.678055
809927                               A       -1.610767      53.790928
809928                               A       -1.331682      53.798273

[809929 rows x 18 columns]

In [57]:
schools.rename(columns={'POSTCODE': 'Postcode'}, inplace=True)

In [58]:
school_merged = schools.merge(all_postcodes[['Postcode','Longitude_prop','Latitude_prop']], on='Postcode', how='inner')

print("\nMerged DataFrame (Inner Join):")
print(school_merged)

Merged DataFrame (Inner Join):
          URN           LANAME   LA  ESTAB  LAESTAB  \
0      100000   City of London  201   3614  2013614
1      100001   City of London  201   6005  2016005
2      100002   City of London  201   6006  2016006
3      100003   City of London  201   6007  2016007
4      100008           Camden  202   2019  2022019
...       ...              ...  ...    ...      ...
25393  151399  North Yorkshire  815   2225  8152225
25394  151432          Norfolk  926   2276  9262276
25395  151443        Blackpool  890   4007  8904007
25396  151533        Wiltshire  865   4009  8654009
25397  151534            Essex  881   2195  8812195

                                         SCHNAME                     STREET  \
0                             The Aldgate School         St James's Passage
1                City of London School for Girls          St Giles' Terrace
2                     St Paul's Cathedral School               2 New Change
3                          City of London School  107 Queen Victoria Street
4                          Argyle Primary School           Tonbridge Street
...                                          ...                        ...
25393                          Broomfield School          Broomfield Avenue
25394                      Iceni Primary Academy             98 Main Street
25395                        South Shore Academy              St Annes Road
25396                         Pewsey Vale School                Wilcot Road
25397  St Michael's CofE Primary Academy, Ramsey                 Mayes Lane

           LOCALITY ADDRESS3                 TOWN  ... ISPOST16 AGELOW  \
0      Duke's Place      NaN               London  ...        0    3.0
1          Barbican      NaN               London  ...        1    7.0
2               NaN      NaN               London  ...        0    4.0
3               NaN      NaN               London  ...        1   10.0
4               NaN      NaN               London  ...        0    3.0
...             ...      ...                  ...  ...      ...    ...
25393           NaN      NaN        Northallerton  ...        0    4.0
25394           NaN      NaN  Hockwold Cum Wilton  ...        0    4.0
25395           NaN      NaN            Blackpool  ...        0   11.0
25396     Wiltshire      NaN               Pewsey  ...        0   11.0
25397        Ramsey      NaN              Harwich  ...        0    5.0

      AGEHIGH GENDER            RELCHAR          ADMPOL  OFSTEDRATING  \
0        11.0  Mixed  Church of England  Not applicable   Outstanding
1        18.0  Girls                NaN       Selective           NaN
2        13.0  Mixed  Church of England  Not applicable           NaN
3        18.0   Boys                NaN  Not applicable           NaN
4        11.0  Mixed     Does not apply  Not applicable          Good
...       ...    ...                ...             ...           ...
25393    11.0  Mixed     Does not apply  Not applicable           NaN
25394    11.0  Mixed                NaN             NaN           NaN
25395    16.0  Mixed                NaN             NaN           NaN
25396    16.0  Mixed                NaN             NaN           NaN
25397    11.0    NaN  Church of England             NaN           NaN

       OFSTEDLASTINSP  Longitude_prop  Latitude_prop
0          12-06-2024       -0.077486      51.513662
1                 NaN       -0.094509      51.519129
2                 NaN       -0.096820      51.513834
3                 NaN       -0.099387      51.511025
4          04-10-2022       -0.124037      51.528750
...               ...             ...            ...
25393             NaN       -1.435780      54.329917
25394             NaN        0.551408      52.463048
25395             NaN       -3.043894      53.796128
25396             NaN       -1.774059      51.340085
25397             NaN        1.226391      51.926574

[25398 rows x 28 columns]

### Checking the null values

In [59]:
print('_________ Land registry merged data __________\n')
print(df_merged.isnull().sum())
print('\n ___________ Stops ______________\n')
print(Stops.isnull().sum())
print('\n _______________   School merged data ____________\n')
print(school_merged.isnull().sum())

_________ Land registry merged data __________

Transaction unique identifier           0
Price                                   0
Date of Transfer                        0
Postcode                                0
PropertyType                            0
Old/New                                 0
Duration                                0
PAON                                    0
SAON                               703022
Street                              12927
Locality                           506337
Town/city                               0
District                                0
County                                  0
PPD Category Type                       0
Record Status-monthly file only         0
Longitude_prop                          0
Latitude_prop                           0
dtype: int64

 ___________ Stops ______________

ATCOCode                        0
NaptanCode                  25721
PlateCode                  372481
CleardownCode              435436
CommonName                      0
CommonNameLang             435436
ShortCommonName            338697
ShortCommonNameLang        435436
Landmark                   184115
LandmarkLang               435436
Street                      23944
StreetLang                 435436
Crossing                   435436
CrossingLang               435436
Indicator                   23814
IndicatorLang              435436
Bearing                     23842
NptgLocalityCode                0
LocalityName                    0
ParentLocalityName         245363
GrandParentLocalityName    435436
Town                       279737
TownLang                   420230
Suburb                     362544
SuburbLang                 423781
LocalityCentre               6395
GridType                    16412
Easting                         0
Northing                        0
Longitude                   52469
Latitude                    52469
StopType                        0
BusStopType                 18359
TimingStatus                15175
DefaultWaitTime            435436
Notes                      435436
NotesLang                  435436
AdministrativeAreaCode          0
CreationDateTime                0
ModificationDateTime          426
RevisionNumber              10814
Modification                35366
Status                          0
dtype: int64

 _______________   School merged data ____________

URN                   0
LANAME                0
LA                    0
ESTAB                 0
LAESTAB               0
SCHNAME               0
STREET               60
LOCALITY          11036
ADDRESS3          23103
TOWN                520
Postcode              0
SCHSTATUS             0
OPENDATE          23937
CLOSEDATE         23929
MINORGROUP            0
SCHOOLTYPE            0
ISPRIMARY             0
ISSECONDARY           0
ISPOST16              0
AGELOW                4
AGEHIGH               4
GENDER                7
RELCHAR            4593
ADMPOL             1132
OFSTEDRATING       3363
OFSTEDLASTINSP     3240
Longitude_prop        0
Latitude_prop         0
dtype: int64

In [60]:
Stops.dropna(subset = ['Latitude', 'Longitude'], how='all',inplace=True)

### Top 30 Districts

In [61]:
top_30 = pd.DataFrame(df_merged['District'].value_counts()[:30]).reset_index()
locations = top_30['District'].values

In [62]:
filtered_df = df_merged[df_merged['District'].isin(locations)]

### Creating New columns

### DISTANCE calculation betweeen Stops data and land registry data

In [63]:
def latlon_to_cartesian(lat, lon, R=6371.0):
    lat_radians = np.radians(lat)
    lon_radians = np.radians(lon)
    x = R * np.cos(lat_radians) * np.cos(lon_radians)
    y = R * np.cos(lat_radians) * np.sin(lon_radians)
    z = R * np.sin(lat_radians)
    return x, y, z

In [64]:
# Build station coords & KDTree
sx, sy, sz = latlon_to_cartesian(Stops['Latitude'], Stops['Longitude'])
station_coords = np.column_stack((sx, sy, sz))
tree = cKDTree(station_coords)

In [65]:

# Convert properties to 3D
# FILTERED_DF IS THE LAND REGISTRY FINAL DATA
px, py, pz = latlon_to_cartesian(filtered_df['Latitude_prop'], filtered_df['Longitude_prop'])
prop_coords = np.column_stack((px, py, pz))

In [66]:
# Query tree
distances, indices = tree.query(prop_coords, k=1)

# Attach results
filtered_df['nearest_station_index'] = indices
filtered_df['nearest_station_km'] = distances
filtered_df['closest_station'] = filtered_df['nearest_station_index'].apply(
    lambda i: Stops.iloc[i]['CommonName'] if i >= 0 else None
)

<ipython-input-66-b264be49590e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['nearest_station_index'] = indices
<ipython-input-66-b264be49590e>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['nearest_station_km'] = distances
<ipython-input-66-b264be49590e>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['closest_station'] = filtered_df['nearest_station_index'].apply(

###  DISTANCE calculation betweeen Schools data and land registry data

In [67]:
# Build station coords & KDTree
sx1, sy1, sz1 = latlon_to_cartesian(school_merged['Latitude_prop'], school_merged['Longitude_prop'])
school_coords = np.column_stack((sx1, sy1, sz1))
tree1 = cKDTree(school_coords)

In [68]:
# Convert properties to 3D
px1, py1, pz1 = latlon_to_cartesian(filtered_df['Latitude_prop'], filtered_df['Longitude_prop'])
prop_coords1 = np.column_stack((px1, py1, pz1))

In [69]:
# Query tree
distances1, indices1 = tree1.query(prop_coords1, k=1)

# Attach results
filtered_df['nearest_school_index'] = indices1
filtered_df['dist_school_km'] = distances1
filtered_df['closest_school'] = filtered_df['nearest_school_index'].apply(
    lambda i: school_merged.iloc[i]['SCHNAME'] if i >= 0 else None
)

<ipython-input-69-7d80b88ed0f8>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['nearest_school_index'] = indices1
<ipython-input-69-7d80b88ed0f8>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['dist_school_km'] = distances1
<ipython-input-69-7d80b88ed0f8>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['closest_school'] = filtered_df['nearest_school_index'].apply(

In [70]:
filtered_df.head()
filtered_df.to_csv("/content/drive/MyDrive/data science project/final registry data.csv")

In [71]:
filtered_df

,Transaction unique identifier,Price,Date of Transfer,Postcode,PropertyType,Old/New,Duration,PAON,SAON,Street,...,PPD Category Type,Record Status-monthly file only,Longitude_prop,Latitude_prop,nearest_station_index,nearest_station_km,closest_station,nearest_school_index,dist_school_km,closest_school
0,{06C9F487-D94B-9388-E063-4804A8C0BD98},330000,2023-03-20 00:00,CF14 7BX,T,N,F,32,NaN,HEOL PANT Y CELYN,...,A,A,-3.230427,51.521780,337034,0.127737,Hollybush Inn,11749,25.660944,Weston College
10,{06C9F487-D956-9388-E063-4804A8C0BD98},247600,2023-08-04 00:00,CF14 3DX,S,N,F,29,NaN,MYNACHDY ROAD,...,A,A,-3.198424,51.500207,337266,0.049774,Wyfan Place,11749,22.396198,Weston College
24,{06C9F487-D965-9388-E063-4804A8C0BD98},465000,2023-08-16 00:00,CF14 1SB,D,N,F,6,NaN,HEOL PEN Y FAI,...,A,A,-3.208879,51.510899,337052,0.170733,Ararat Church,11749,23.764113,Weston College
30,{06C9F487-D96C-9388-E063-4804A8C0BD98},320000,2023-08-03 00:00,CF15 9EJ,D,N,F,2,NaN,MAES Y NANT,...,A,A,-3.327394,51.521451,337712,0.145621,Llys Gwynno,11749,30.564809,Weston College
49,{06C9F487-DB19-9388-E063-4804A8C0BD98},210000,2023-05-19 00:00,CF5 4EA,S,N,F,62,NaN,LLEWELLYN AVENUE,...,A,A,-3.255042,51.483366,337504,0.219598,Archer Road,11749,24.011408,Weston College
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809924,{152AB734-65BF-E651-E063-4704A8C061D9},235000,2023-03-07 00:00,LS12 4FJ,T,Y,F,37,NaN,BOBBIN ROW,...,A,A,-1.612370,53.791536,271052,0.127114,Ring Rd Stonebridge Lane,17235,0.458401,Ryecroft Academy
809925,{152AB734-65C0-E651-E063-4704A8C061D9},229995,2023-04-21 00:00,LS4 2EJ,F,Y,L,BLOCK B ALEXANDRA PARK,FLAT B204,WILLOW ROAD,...,A,A,-1.575933,53.805668,271910,0.076890,Cardigan Road,3651,0.497184,Burley St Matthias Church of England Voluntary...
809926,{152AB734-65C2-E651-E063-4704A8C061D9},253995,2023-04-24 00:00,WF7 5QE,D,Y,F,4,NaN,MILLER ROAD,...,A,A,-1.352843,53.678055,277600,0.365017,Station Lane Featherstone Station,3730,0.551915,Featherstone Purston St Thomas Church of Engla...
809927,{152AB734-65C3-E651-E063-4704A8C061D9},270000,2023-03-24 00:00,LS12 4FL,T,Y,F,19,NaN,PARK MEADOW LANE,...,A,A,-1.610767,53.790928,282551,0.172416,Ring Rd Stonebridge Lane,17235,0.562992,Ryecroft Academy
809928,{152AB734-65C4-E651-E063-4704A8C061D9},279995,2023-05-19 00:00,LS25 4EP,S,Y,F,44,NaN,WADDLE ROAD,...,A,A,-1.331682,53.798273,286673,0.147003,Church Lane Great North Rd,23765,0.190524,Micklefield Church of England Primary Academy

### Checking the null values

#### These three columns have a lot of data missing in it. Its better to remove them instead of imputing it.

In [ ]:
filtered_df.isnull().sum()

Transaction unique identifier      0
Price                              0
Date of Transfer                   0
Postcode                           0
PropertyType                       0
Old/New                            0
Duration                           0
PAON                               0
Town/city                          0
District                           0
County                             0
PPD Category Type                  0
Record Status-monthly file only    0
Longitude_prop                     0
Latitude_prop                      0
nearest_station_index              0
dist_chord_km                      0
closest_station                    0
nearest_school_index               0
dist_school_km                     0
closest_school                     0
dtype: int64

In [ ]:
filtered_df.dropna(axis=1, how='any', inplace=True)

<ipython-input-42-cb32969b3a97>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.dropna(axis=1, how='any', inplace=True)

In [ ]:
filtered_df.isnull().sum()

Transaction unique identifier      0
Price                              0
Date of Transfer                   0
Postcode                           0
PropertyType                       0
Old/New                            0
Duration                           0
PAON                               0
Town/city                          0
District                           0
County                             0
PPD Category Type                  0
Record Status-monthly file only    0
Longitude_prop                     0
Latitude_prop                      0
nearest_station_index              0
dist_chord_km                      0
closest_station                    0
nearest_school_index               0
dist_school_km                     0
closest_school                     0
dtype: int64

### Working on Date column

In [ ]:
# Convert to pandas datetime
final_df = filtered_df.copy()
final_df['Date of Transfer'] = pd.to_datetime(final_df['Date of Transfer'], format='%Y-%m-%d %H:%M')

# Extract year and month
#final_df['year'] = final_df['Date of Transfer'].dt.year
final_df['month'] = final_df['Date of Transfer'].dt.month

final_df.head()

,Transaction unique identifier,Price,Date of Transfer,Postcode,PropertyType,Old/New,Duration,PAON,Town/city,District,...,Record Status-monthly file only,Longitude_prop,Latitude_prop,nearest_station_index,dist_chord_km,closest_station,nearest_school_index,dist_school_km,closest_school,month
0,{06C9F487-D94B-9388-E063-4804A8C0BD98},330000,2023-03-20,CF14 7BX,T,N,F,32,CARDIFF,CARDIFF,...,A,-3.230427,51.521780,337034,0.127737,Hollybush Inn,11749,25.660944,Weston College,3
10,{06C9F487-D956-9388-E063-4804A8C0BD98},247600,2023-08-04,CF14 3DX,S,N,F,29,CARDIFF,CARDIFF,...,A,-3.198424,51.500207,337266,0.049774,Wyfan Place,11749,22.396198,Weston College,8
24,{06C9F487-D965-9388-E063-4804A8C0BD98},465000,2023-08-16,CF14 1SB,D,N,F,6,CARDIFF,CARDIFF,...,A,-3.208879,51.510899,337052,0.170733,Ararat Church,11749,23.764113,Weston College,8
30,{06C9F487-D96C-9388-E063-4804A8C0BD98},320000,2023-08-03,CF15 9EJ,D,N,F,2,CARDIFF,CARDIFF,...,A,-3.327394,51.521451,337712,0.145621,Llys Gwynno,11749,30.564809,Weston College,8
49,{06C9F487-DB19-9388-E063-4804A8C0BD98},210000,2023-05-19,CF5 4EA,S,N,F,62,CARDIFF,CARDIFF,...,A,-3.255042,51.483366,337504,0.219598,Archer Road,11749,24.011408,Weston College,5

In [ ]:
final_df.columns

Index(['Transaction unique identifier', 'Price', 'Date of Transfer',
       'Postcode', 'PropertyType', 'Old/New', 'Duration', 'PAON', 'Town/city',
       'District', 'County', 'PPD Category Type',
       'Record Status-monthly file only', 'Longitude_prop', 'Latitude_prop',
       'nearest_station_index', 'dist_chord_km', 'closest_station',
       'nearest_school_index', 'dist_school_km', 'closest_school', 'month'],
      dtype='object')

### Removing the unwanted columns

In [ ]:
col_drop = ['Transaction unique identifier', 'Date of Transfer',
       'Postcode', 'PAON','Record Status-monthly file only', 'Longitude_prop', 'Latitude_prop',
       'nearest_station_index','nearest_school_index']
final_df.drop(col_drop,axis=1,inplace=True)

In [ ]:
final_df.reset_index(inplace=True)
final_df.drop('index',axis=1, inplace=True)

In [ ]:
final_df

,Price,PropertyType,Old/New,Duration,Town/city,District,County,PPD Category Type,dist_chord_km,closest_station,dist_school_km,closest_school,month
0,330000,T,N,F,CARDIFF,CARDIFF,CARDIFF,A,0.127737,Hollybush Inn,25.660944,Weston College,3
1,247600,S,N,F,CARDIFF,CARDIFF,CARDIFF,A,0.049774,Wyfan Place,22.396198,Weston College,8
2,465000,D,N,F,CARDIFF,CARDIFF,CARDIFF,A,0.170733,Ararat Church,23.764113,Weston College,8
3,320000,D,N,F,CARDIFF,CARDIFF,CARDIFF,A,0.145621,Llys Gwynno,30.564809,Weston College,8
4,210000,S,N,F,CARDIFF,CARDIFF,CARDIFF,A,0.219598,Archer Road,24.011408,Weston College,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
198369,235000,T,Y,F,LEEDS,LEEDS,WEST YORKSHIRE,A,0.127114,Ring Rd Stonebridge Lane,0.458401,Ryecroft Academy,3
198370,229995,F,Y,L,LEEDS,LEEDS,WEST YORKSHIRE,A,0.076890,Cardigan Road,0.497184,Burley St Matthias Church of England Voluntary...,4
198371,253995,D,Y,F,PONTEFRACT,WAKEFIELD,WEST YORKSHIRE,A,0.365017,Station Lane Featherstone Station,0.551915,Featherstone Purston St Thomas Church of Engla...,4
198372,270000,T,Y,F,LEEDS,LEEDS,WEST YORKSHIRE,A,0.172416,Ring Rd Stonebridge Lane,0.562992,Ryecroft Academy,3
198373,279995,S,Y,F,LEEDS,LEEDS,WEST YORKSHIRE,A,0.147003,Church Lane Great North Rd,0.190524,Micklefield Church of England Primary Academy,5

In [ ]:
final_df.columns

Index(['Price', 'PropertyType', 'Old/New', 'Duration', 'Town/city', 'District',
       'County', 'PPD Category Type', 'dist_chord_km', 'closest_station',
       'dist_school_km', 'closest_school', 'month'],
      dtype='object')